body {
	background: transparent url("../images/line-gradient-body2.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #f1f1f1;
}

#wrapper-main {
	background: transparent url("../images/bg-body.png") repeat-x center bottom;
	margin: 0px;
	padding: 0px;
	clear:both;
}

#footer {
/*	background: transparent url(images/bg-footer.png) repeat-x center top;
	margin: 0px;
	padding: 10px;
	min-height:24px;
	clear:both;
*/

    background: transparent url("../images/bg-footer.png") repeat-x center top;
    bottom: 0;
    left: 0;
	margin: 0px;
	padding: 10px;
    min-height: 24px;
    position: fixed;
    width: 100%;
    z-index: 1000000;
}

body.front {
	background: #28587e url("../images/line-gradient-body2.jpg") no-repeat left top;
	margin: 0px;
	padding: 0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #f1f1f1;
}

#header {
	min-height:120px;
	clear:both;
	display:block;
	border-bottom: 2px solid #f31820;
	position:relative;
}

#main {
}

.content {
	clear: right;
    float: left;
    width:80%;
    height: auto;
    padding: 10px 0 0 30px;
}

.corner-left-top {
	background: transparent url("../images/corner-left-top.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	width: 14px;
	height: 14px;
}

.corner-right-top {
	background: transparent url("../images/corner-right-top.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	width: 14px;
	height: 14px;
}

.corner-left-bottom {
	background: transparent url("../images/corner-left-bottom.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	width: 14px;
	height: 14px;
}

.corner-right-bottom {
	background: transparent url("../images/corner-right-bottom.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	width: 14px;
	height: 14px;
}

.estira-left {
	background: transparent url("../images/estira-left-login.png") repeat-y left top;
	margin: 0px;
	padding: 0px;
}

.estira-right {
	background: transparent url("../images/estira-right-login.png") repeat-y left top;
	margin: 0px;
	padding: 0px;
}

.estira-top {
	background: transparent url("../images/estira-top-login.png") repeat-x left top;
	margin: 0px;
	padding: 0px;
}

.estira-bottom {
	background: transparent url("../images/estira-bottom-login.png") repeat-x left top;
	margin: 0px;
	padding: 0px;
}

/*LOGIN*/
.login {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 550px;
	height: 410px;
	margin-top: -200px;
	margin-left: -275px;
	overflow: auto;
}

.bg-login {
	background: transparent url("../images/bg-login.png") repeat left top;
	margin: 0px;
	padding: 0px;
}

.login-form {
	clear:both;
	width: 300px;
	margin: 0 auto;
}


.front .desarrollo {
	background: transparent url("../images/desarrollado.png") no-repeat left top;
	margin: 0px;
	padding: 0px;
	display:block;
	float: right;
    margin: -7px 38px 0 0;
}

.desarrollo {
	background: transparent url("../images/desarrollado2.png") no-repeat left top;
	margin: 0 50px 0 50px;
	padding: 0px;
	display:block;
	float: right;
}


#footer ul.menu {
    display: block;
    float: right;
	font-size:11px;
}
#footer ul.menu {
    margin: 5px 0;
}
#footer ul.menu li {
    display: inline;
    margin: 0;
}
#footer ul.menu li a {
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
	color:#fff;
}

#footer ul.menu li.last a {
}

a {
    margin: 0;
    padding: 0px;
    text-decoration: none;
	color:#03478e;
	font-size: 12px;
    font-weight: bold;
}

.sidebar-left {
    /*background: transparent url("../images/bg-leftsidebar-top.png") no-repeat right top;*/
    color: #FFFFFF;
    float: left;
	clear:both;
    padding: 0px 0 0;
    width: 230px;
	margin-left: 0px;
	font-size: 12px;
    font-weight: bold;
}
.sidebar-left-A {
    background: url("../images/bg-leftsidebar-bottom.png") no-repeat scroll right bottom transparent;
    min-height: 223px;
    padding-bottom: 50px;
}
.sidebar-left-B {
    background: url("../images/bg-leftsidebar.png") repeat-y scroll right center transparent;
}

.sidebar-left a {
	font-size: 12px;
    font-weight: bold;
    border-top: 1px solid #e2f3fb;
    color: #03478e;
    display: block;

    padding: 5px 8px 4px;
}

.sidebar-left ul ul a {

    padding: 5px 8px 4px 15px;

}

.sidebar-left a:hover {
	font-size: 12px;
    font-weight: bold;
    color: #FF0016;
    text-decoration: none;
    background-color: #c4c4c4;

}
.sidebar-left ul li {
;
    margin: 0;
	list-style-image: none;
    list-style-type: none;
}

ul {
    margin:0;
	padding:0;
}

#login-admin {
    background: url("../images/bg-logged.png") repeat-x center top transparent;
	height:inherit;
}

.login-admin-A {
    background: url("../images/bg-logged-left.png") no-repeat left top transparent;
	height:inherit;
	padding-left:23px;
}

.login-admin-B {
    background: url("../images/bg-logged-right.png") no-repeat right top transparent;
	padding-right:19px;
	position:absolute;
	top:0px;
	right:0px;
	height:24px;
}

a.logout {
	font-weight: bold;
	color:#FFF;
	margin:0px 0px 0px 20px;
	position:relative;
	top:4px;
}

span.name {
	color:#FFF;
	position:relative;
	top:4px;
}

#tabsMain {
	float:left;
	position:absolute;
	bottom:0px;
	margin-left:250px;
}

#tabsMain ul, #tabsMain ul.active	 {
	padding:6px 0px;
}

#tabsMain ul li {
	background: url("../images/bg-tab-right.png") no-repeat right top transparent;
    display: inline;
    margin: 0;
	padding:12px 13px 6px 0px;
}

#tabsMain ul li {
	background-image: none;
    display: inline;
    margin: 0;
	padding:12px 13px 6px 0px;
}

#tabsMain ul li.active {
	background: url("../images/bg-tab-right.png") no-repeat right top transparent;
}


#tabsMain ul li a {
	background-image: none;
	padding:12px 9px 6px;
}

#tabsMain ul li.active a {
	background: url("../images/bg-tab-left.png") no-repeat left top transparent;
	color:#FFF;
	font-weight:bold;
}


#tabsMain ul li a span {
	padding:12px 12px 6px 12px;
	background-image: none;

}

#tabsMain ul li.active a span {
	background: url("../images/bg-tab.png") repeat-x center top transparent;

}
#respuesta{ background-color: red; text-align: center;}
#respuesta p{color:#fff;}




body{
  /*  background-color:#EEE;*/
    font-family:Arial, Helvetica, sans-serif;
}
/*.container{
    width: 600px;
    margin: 150px auto;
    background: #FFF;
    padding: 10px;
}*/
.notify{
	z-index: 1000;
    background-color: #333;
    color: #FFF;
    width: 250px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.notify p{
    padding: 10px;
    margin: 0;
}
.notify.error{
    background-color: #F00;
}
.notify.aviso{
    background-color: #90bb00;
}
div.code{
    background: #DDD;
    margin: 10px 10px 20px 20px;
    padding: 5px;
    font-family: monospace;
}
#permisos_ {
border-top: 1px solid #DEDEDE;

}
#permisos_1 {
border-bottom: 1px solid #DEDEDE;

}
.tipCampos{
    background-color: #333;
    color: #FFF;
    width: 250px;
    height:auto;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:5px;
    z-index: 1000;
}
.tipCampos p{
    padding: 10px;
    margin: 0;
}
.tipCampos.tip{
    background-color: #042675;
}
#labelRight{text-align: right; float:right;}
#compGroupA {
float: left;
width: 58%;
}
#compGroupB {
float: right;
width: 38%;
}
.demoHeaders {
font-size: 1.3em;
font-weight: normal;
margin: 2em 0 1em;
clear: both;
}
.demoHeaders span {
font-size: .8em;
}
#components #dialog_link {
padding: .4em 1em .4em 20px;
text-decoration: none;
position: relative;
}
#components #dialog_link span.ui-icon {
margin: 0 5px 0 0;
position: absolute;
left: .2em;
top: 50%;
margin-top: -8px;
zoom: 1;
}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left; list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {display: inline-block;}